# 忽略PyCharm配置
.idea/

# 同时可以添加其他不需要跟踪的文件（根据你的项目补充）
# 比如Python虚拟环境
venv/
# Django的本地数据库
*.sqlite3
# 前端node_modules
frontend/node_modules/
# 前端打包文件
frontend/dist/
startdjango/__pycache__/__init__.cpython-310.pyc
startdjango/__pycache__/settings.cpython-310.pyc
startdjango/__pycache__/urls.cpython-310.pyc
startdjango/__pycache__/wsgi.cpython-310.pyc
