<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filters过滤器展示</title>
</head>
<body>
<!-- 表格样式-->
<style>
    table {
        border-collapse: collapse;
        width: 500px;
        margin: 20px;
    }

    th, td {
        border: 1px solid #ddd; /*边框*/
        padding: 8px 12px; /*内边距*/
        text-align: center;
    }

    th {
        background-color: #f5f5f5;
    }
</style>

<!-- 创建表格 -->
<table>
    <!-- 表头 -->
    <thead>
    <tr>
        <th>序号</th>
        <th>处理前的值</th>
        <th>处理后的值</th>
    </tr>
    </thead>
    <!-- 表内容 -->
    <tbody>
    {% for value in values %}
        <tr>
            <!-- 序号，从1开始 -->
            <td>{{ forloop.counter }}</td>
            <!-- 处理前的值 -->
            <td>{{ value }}</td>
            <!-- 处理后的值 -->
            <td>
                {% if forloop.counter0 == 0 %}
                    <p>{{ value|add:"2w" }}</p>
                {% elif forloop.counter0 == 1 %}
                    <p>{{ value|cut:","|cut:" " }}</p>
                {% elif forloop.counter0 == 2 %}
                    <p>生日：{{ value.birthday|date:"Y年m月d日" }}</p>
                {% elif forloop.counter0 == 3 %}
                    <p>个人简介：{{ value.profile|default:"这家伙很懒，什么都没留下" }}</p>
                {% elif forloop.counter0 == 4 %}
                    <p>个人简介：{{ value|default_if_none:"这家伙很懒，什么都没留下" }}</p>
                {% elif forloop.counter0 == 5 %}
                    <p>{{ value.html|safe }}</p>
                {% else %}
                    未定义过滤器
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>